@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: #FFCB61;
  padding: 15px 10px;
}

.dark :where(h1, h2, h3, h4, h5, h6)::selection {
  color: black
}

ol li {list-style-type: decimal;}
ul li {list-style: square;}

li::marker {color: oklch(0.708 0 0);}
.dark li::marker {color: oklch(0.269 0 0);}
.transparent-marker li::marker {color: transparent;}